<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">
<!--<input type="hidden" name="x-amz-storage-class" value="STANDARD">
<input type="hidden" name="acl" value="private">
<input type="hidden" name="policy" value="">
<input type="hidden" name="AWSAccessKeyId" value="">
<input type="hidden" name="signature" value="">
<input type="hidden" name="success_action_status" value="201">
<input type="hidden" name="key" value="testing/$filename">-->
<input type="file" name="file">
<input type="submit">
</form>

<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script>
$(function () {
    $('form').submit(function (e) {
        var formData = new FormData();
        formData.append('x-amz-storage-class', 'STANDARD');
        formData.append('acl', 'private');
        formData.append('policy', 'eyJleHBpcmF0aW9uIjogIjIwMTUtMDUtMTlUMjI6MzM6NDNaIiwKImNvbmRpdGlvbnMiOiBbeyJzdWNjZXNzX2FjdGlvbl9zdGF0dXMiOiAiMjAxIn0seyJidWNrZXQiOiAic3RvcmFnZS1wYXVsbWNpbHdhaW5lLWNvbSJ9LHsia2V5IjogInRlc3RpbmcvbXlmaWxlLnBkZiJ9LHsiYWNsIjogInByaXZhdGUifSx7IngtYW16LXN0b3JhZ2UtY2xhc3MiOiAiU1RBTkRBUkQifV19');
        formData.append('AWSAccessKeyId', 'AKIAITZSRTE7QIZJ62TQ');
        formData.append('signature', 'yx3RwpkgISimHFuoCdYN3Ytzzaw=');
        formData.append('success_action_status', '201');
        formData.append('key', 'testing/myfile.pdf');
        formData.append('file', document.forms[0].file.files[0]);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://storage-paulmcilwaine-com.s3.amazonaws.com/', true);
        xhr.addEventListener('load', function (x) {
            console.log('transfer complete');
            console.log(x);
        });

        xhr.send(formData);

        return false;

        $.ajax({
            url: 'https://storage-paulmcilwaine-com.s3.amazonaws.com/',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                console.log('success');
            }
        });

        return false;
    });
});
</script>

</body>
</html>