
.row.padding {
  padding: 10px 0;
}

textarea {
  resize: vertical;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.modal-backdrop {
  height: 100%;
}

td {
  word-break: break-all;
}

.progress-bar-hermes {
  margin-top: 10px;
}

@import "../../share/css/nav";
