
<div class="row">
    <div class="col-lg-12">
        <h1>Restore Documents</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <hermes-notification></hermes-notification>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <button ui-sref="document.list" title="List Documents" class="btn btn-sm">List Document</button>
    </div>
</div>
<div class="row padding">
    <div class="col-lg-12">

        <table class="table table-bordered table-striped" ng-show="documents.length !== 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Published</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in documents">
                    <td>{{ document.name }}</td>
                    <td>{{ document.url }}</td>
                    <td class="text-center"><span class="glyphicon" ng-class="{'glyphicon-ok': document.published, 'glyphicon-remove': !document.published}"></span></td>
                    <td>{{ ::document.created }}</td>
                    <td>
                        <button ng-click="restoreItem($index);" class="btn btn-danger btn-sm">Restore</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p ng-show="documents.length === 0">There are currently no documents to list.</p>

    </div>
</div>
