<div class="modal-header">
    <h3 class="modal-title">Download Migration</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" ng-model="name" placeholder="Enter name of job">
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="btn btn-sm btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="btn btn-sm" ng-click="cancel()">Cancel</button>
</div>