<div class="row">

    <div class="col-lg-offset-2 col-lg-8">

        <h1>Multipage</h1>

        <form name="multipageForm" ng-submit="submit()" novalidate>

            <div class="form-group" ng-class="{'has-error': fileForm.name.$invalid}">
                <label>Name</label>
                <input type="text" class="form-control" name="name" ng-model="record.document.name">
                <p ng-show="fileForm.name.$invalid" class="help-block">{{ errors.name }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error': fileForm.parent.$invalid}">
                <label>Parent</label>
                <select class="form-control" name="parent" ng-model="parent" ng-options="document.name for document in document_list"></select>
                <p ng-show="fileForm.parent.$invalid" class="help-block">{{ errors.parent }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error': fileForm.url.$invalid}">
                <label>URL</label>
                <input type="text" class="form-control" name="url" ng-model="record.document.url">
                <p ng-show="fileForm.url.$invalid" class="help-block">{{ errors.url }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error': multipageForm.file.$invalid}">
                <label>File</label>
                <input type="file" name="file" accept=".zip" ngf-select="" ng-model="file" hermes-file-field clear-file="clearFile">
                <progressbar value="progressPercentage" max="100" ng-show="savingForm"></progressbar>
                <p ng-show="multipageForm.file.$invalid" class="help-block">Must be a ZIP file</p>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="record.document.published" value="1"> Publish Document
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="record.document.show_in_menu" value="1"> Show in Navigation
                </label>
            </div>

            <button type="submit" class="btn btn-primary" accesskey="s" ng-disabled="savingForm">Save</button>
            <button type="button" ui-sref="document.list" class="btn btn-default" ng-disabled="savingForm">Cancel</button>

        </form>

    </div>

</div>