
<div class="row">
    <div class="col-lg-12">
        <h1>Users</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <hermes-notification></hermes-notification>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <button ui-sref="users.add" class="btn btn-sm">Add User</button>
        <button ui-sref="users.restore" class="btn btn-sm">Restore Users</button>
    </div>
</div>

<div class="row padding">
    <div class="col-lg-12">

        <table class="table table-bordered table-striped" ng-show="users.length !== 0">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.email}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>
                        <button ui-sref="users.modify({id: user.id})" class="btn btn-warning btn-sm">Edit</button>
                        <button ng-click="deleteItem($index);" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p ng-show="users.length === 0">There are currently no users to list.</p>

    </div>
</div>
