<div class="row">

    <div class="col-lg-offset-2 col-lg-8">

        <h1>{{ action }}</h1>

        <form name="userForm" ng-submit="submit()" novalidate>

            <div class="form-group" ng-class="{'has-error': userForm.email.$invalid}">
                <label>Email</label>
                <input type="email" class="form-control" name="email" ng-model="record.email">
                <p ng-show="userForm.email.$invalid" class="help-block">{{ errors.email }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.password.$invalid}">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="record.password">
                <p ng-show="userForm.password.$invalid" class="help-block">{{ errors.password }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.first_name.$invalid}">
                <label>First Name</label>
                <input type="text" class="form-control" name="first_name" ng-model="record.first_name">
                <p ng-show="userForm.first_name.$invalid" class="help-block">{{ errors.first_name }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.last_name.$invalid}">
                <label>Last Name</label>
                <input type="text" class="form-control" name="last_name" ng-model="record.last_name">
                <p ng-show="userForm.last_name.$invalid" class="help-block">{{ errors.last_name }}</p>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-2">Permissions</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="is_administrator" ng-click="togglePermissions()"> Administrator User
                                </label>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="checkbox" ng-repeat="permission in permissions | limitTo: 7">
                                <label>
                                    <input type="checkbox" ng-model="user_permissions[permission.value]" ng-click="checkAdmin()"> {{ ::permission.title }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox" ng-repeat="permission in permissions | slice:7:14">
                                <label>
                                    <input type="checkbox" ng-model="user_permissions[permission.value]" ng-click="checkAdmin()"> {{ ::permission.title }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" accesskey="s">{{ action }}</button>
            <button type="button" ui-sref="users.list" class="btn btn-default">Cancel</button>

        </form>
    </div>
</div>