<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/assets/public/css/lib.css">
    <link rel="stylesheet" href="/assets/admin/css/app.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Hermes</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Documents</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Analytics</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h1>Heading</h1>
    <p>Content body stuff here</p>
</div>

</body>
</html>