<!DOCTYPE html>
<html ng-app="hermes.app">
<head lang="en">
<meta charset="UTF-8">
<title>Hermes CMS - Administration</title>
<link rel="stylesheet" href="/assets/public/css/lib.css">
<link rel="stylesheet" href="/assets/admin/css/app.css">
<script src="/assets/admin/js/lib.js"></script>
<script src="/assets/admin/templates/template.js"></script>
<script src="/assets/admin/js/app.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin/">Hermes</a>
        </div>
        <div hermes-navigation></div>
    </div>
</nav>

<div class="container-fluid" ng-controller="AppController as app">
    <div ng-hide="app.loading" ui-view></div>
</div>

</body>
</html>