[Unit]
Description=Hermes {{ item.name }} service
After=network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/bin/hermes_service -j {{ item.name }} -c {{ item.config }} start
ExecReload=/bin/hermes_service -j {{ item.name }} -c {{ item.config }} restart
ExecStop=/bin/hermes_service -j {{ item.name }} -c {{ item.config }} stop

[Install]
WantedBy=multi-user.target